html,body{
    height: 100%;
    font-family: Comic Sans MS, Comic Sans, cursive, sans-serif;
}

body{
    margin: 0 auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    border-top: none;
    color: #000 !important;
}

.invalid-feedback{
    color: #DC37FF;
    font-size: 85%;
}

.index_form{
    position: absolute;
    right: 0;
    width: 30%;
    border-radius: 10px;
    padding: 3em;
    height: 100%;
}

.main_form{
    font-size: 18px !important;
}

.index_bg{
    background: url(../Img/cover_large2.jpg) no-repeat top fixed;
    position: absolute;
    left: 0;
    width: 70%;
    height: 100%;
}

div.index_bg > img{
    display: inline-block;
    position: absolute;
    width: 35%;
    height: 8.5em;
    top: 200px;
    background: rgba(79,32,42,0.9);
    padding: 1.5% 3% 1.5% 8%;
}

div.index_form > h1{
    font-size: 60px;
    padding: 80px 0;
    color: #ff6a38;
}

.main_form > button{
    width: 100%;
    background-color: #ff6a38;
    border-color: #fcb103;
}
.main_form > button:hover, button:focus{
    background: #e6a105 !important;
    border-color: #e6a105 !important;
}

.main_form > p > a{
    color: #ff6a38;
}

.index_form > a{
    position: absolute;
}


@media (max-width: 1100px) {
    .index_form{
        width: 40%;
    }

    .index_bg{
        width: 60%;
    }
}

@media (max-width: 750px) {
    .index_form {
        width: 70%;
        height: 80%;
        background-color: #fff;
        top: 11%;
        left: 15%;
    }

    .index_bg {
        width: 100%;
    }

    div.index_bg > img{
        display: none;
    }

    div.index_form > h1 {
        display: inline-block;
        width: 100%;
        font-size: 60px;
        padding: 35px 0;
        color: #ff6a38;

    }
}

@media (max-width: 500px) {
    .index_form {
        width: 100%;
        height: 90%;
        top: 5%;
        left: 0;
    }
}

@media (max-width: 310px) {
    .index_form {
        padding: 0.5em;
    }
}
