body{
    background-color: rgba(255, 106, 56, 0.8);
    font-family: Comic Sans MS, Comic Sans, cursive, sans-serif;
}

.invalid-feedback{
    color: #DC37FF;
    font-size: 85%;
}

.logout_icon{
    position: absolute;
    right: 2%;
    top: 3%;
}

.profile_icon{
    position: absolute;
    right: 6%;
    top: 3%;
}

.navbar_transparent{
    background-color: transparent !important;
}

.navbar_transparent > nav{
    justify-content: flex-end;
}

.navbar_transparent > nav > span{
    padding-right: 15px;
}


/*------------------------*/
/* Section for Home blade */
/*------------------------*/

.selection_screen{
    background: url(../Img/blur2_cover.jpg) no-repeat top fixed;
    position: absolute;
    width: 80%;
    height: 50%;
    top: 25%;
    left: 10%;
    right: 10%;
    color: #ffffff;
    border-radius: 8px !important;
}

.my_eval, .eval{
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 5%;
}

.eval{
    left: 50%;
}

.my_eval > h1, .eval > h1{
    font-size: 2.5em;
    margin-bottom: 0.8em;
}

.my_eval, .eval > p{
    font-size: 1.25em;
}

.btn_style{
    position: absolute;
    width: 40%;
    bottom: 5em;
    left: 30%;
    right: 28%;
    background-color: white;
    color: #000000;
}

.btn_style:hover, .btn_style:focus{
    background: #e6a105 !important;
    border-color: #e6a105 !important;
}

.vr{
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    background-color: #ffffff;
}

@media (max-width: 1070px) {
    .selection_screen{
        height: 80%;
        top: 10%;
    }

    .eval {
        position: absolute;
        padding: 5% 10%;
        width: 100%;
        height: 50%;
        top: 50%;
        left: 0;
    }

    .my_eval {
        position: absolute;
        padding: 5% 10%;
        width: 100%;
        height: 50%;
    }

    .btn_style{
        width: 30%;
        left: 35%;
        bottom: 10%;
    }

    .vr{
        position: absolute;
        width: 100%;
        height: 1px;
        top: 50%;
        left: 0;
        background-color: #ffffff;
    }
}



@media (max-width: 540px) {
    .eval {
        padding: 5%;
    }

    .my_eval {
        padding: 5%;
    }
}

@media (max-width: 480px) {
    .selection_screen{
        height: 90%;
        top: 5%;
    }

    .btn_style{
        bottom: 10%;
    }

    .my_eval > h1, .eval > h1{
        font-size: 2em;
        margin: 1em 0;
    }

    .navbar > span{
        display: none;
    }
}

@media (max-width: 390px) {
    .selection_screen{
        height: 90%;
        top: 5%;
    }

    .my_eval > h1, .eval > h1{
        font-size: 40px;
        margin-bottom: 0.8em;
    }

    .btn_style{
        width: 80%;
        left: 10%;
    }
}

@media (max-width: 320px) {
    .btn_style{
        left: 8%;
        bottom: 15%;
    }

    .my_eval > h1, .eval > h1{
        font-size: 1.8em;
        margin: 1em 0;

    }

    .my_eval, .eval > p{
        font-size: 1em;
    }
}


/*------------------------*/
/* Section for Evaluate blade */
/*------------------------*/

.select_eval{
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 0;
}

.selected_eval{
    position: absolute;
    height: 100%;
    left: 50%;
    padding: 30px;
    width: 50%;
}

.selected_eval > form > button{
    bottom: 1em;
}

.select_eval > h1{
    margin-left: 5%;
    margin-top: 2%;
}

.list-group{
    position: absolute;
    overflow: scroll;
    width: 100%;
    height: 85%;
    bottom: 5px;
    padding: 8px;
}

.list-group-item:hover{
    background-color: #e6a105;
    border: #fae7ac 1px solid ;
    color: #ffffff;
}

::-webkit-scrollbar{
    display: none;
}

@media (max-width: 1070px) {
    .selection_screen {
        height: 80%;
        top: 10%;
    }

    .selected_eval {
        position: absolute;
        padding: 5% 10%;
        width: 100%;
        height: 50%;
        top: 50%;
        left: 0;
    }

    .select_eval {
        position: absolute;
        padding: 5% 10%;
        width: 100%;
        height: 50%;
    }
}



/*------------------------*/
/* Section for Myevaluations blade */
/*------------------------*/

.evaluation_list{
    position: absolute;
    width: 40%;
    height: auto;
    top: 25%;
    left: 30%;
    right: 30%;
    color: #ffffff;
    border-radius: 8px !important;
}

.definition_list > dt{
    position: relative;
    font-size: 1.3em;
    height: 50px;
    padding: 15px 0 0 5%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #fefcff;
}

.definition_list > dt > a{
    text-decoration: none;
    color: #731209;
}

.definition_list > dd{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 0 10px 5%;
    font-size: 1.2em;
    /*background-color: #50cdd0;*/
    background-color: #ffd768;
    color: #731209;
}

.toggle{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

@media (max-width: 1050px) {
    .evaluation_list{
        width: 60%;
        left: 20%;
        right: 20%;
    }
}

@media (max-width: 690px) {
    .evaluation_list{
        width: 80%;
        left: 10%;
        right: 10%;
    }
}


/*------------------------*/
/* Section for Profile blade */
/*------------------------*/

.profile{
    background: url(../Img/blur2_cover.jpg) no-repeat top fixed;
    position: absolute;
    width: 60%;
    height: 80%;
    top: 15%;
    left: 20%;
    right: 20%;
    color: #ffffff;
    border-radius: 8px !important;
}

@media (max-width: 768px) {
    .profile{
        height: 110% !important;
    }
}
