body{
    position: absolute;
    height: 100%;
}

.editable:hover{
    cursor: pointer;
}

/*.editable{*/
/*    user-select: none;*/
/*}*/

.edit{
    margin-left: 9%;

}

input{
    background-color: #343a40 !important;
    color: #ffffff !important;
}

.row > .id{
    width: 4%;
}

.row > .name{
    width: 8%;
}

.row > .email{
    width: 20%;
}

.row > .password{
    width: 50%;
}

div .row{
    margin: 10px 0;
    font-size: 1.1em;
}


