body{
    background-color: rgba(255, 106, 56, 0.8);
    font-family: Comic Sans MS, Comic Sans, cursive, sans-serif;
}

.invalid-feedback{
    color: #DC37FF;
    font-size: 85%;
}

.reg{
    position: relative;
    width: 75%;
    margin-top: 10%;
    margin-left: 13%;
    border-radius: 8px !important;
}

.formular{
    position: relative;
    padding: 30px;
}

.nav_img{
    background: url(../Img/cover_large2_dark2.jpg) no-repeat top fixed;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    color: white;
}

.nav_img > p{
    font-size: 1.15em;
}

.nav_img > h1,p{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
}

.formular > h1{
    padding-bottom: 15px;
}

.btn_style{
    width: 100%;
    background-color: #ff6a38;
    border-color: #fcb103;
}

.nav_img > form > .btn_style{
    width: 40%;
    margin-left: 8%;
    margin-bottom: 5%;
    background-color: white;
    color: black;
}

.nav_img > .btn_style > a{
    color: black;
}

.btn_style:hover, .btn_style:focus{
    background: #e6a105 !important;
    border-color: #e6a105 !important;
}

.delete_label{
    background-color: white;
    position: relative;
    margin: 10px;
    width: 20em;
}

.delete_label > form > button{
    position: relative;
    width: 60%;
    margin: 0 20% 3em 20%;
}

.update-form{
    padding: 5% 30% 0 30%;
}

.update-form > form{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

@media (max-width: 1300px) {
    .formular {
        width: 50%;
    }

    .nav_img {
        width: 50%;
    }
}

@media (max-width: 1060px) {
    .formular {
        width: 100%;
        height: 50%;
        top: 50%
    }

    .nav_img {
        width: 100%;
        height: 50%;
        top: 0;
        border-bottom-left-radius: unset;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;

    }

    .reg{
        top: 5%;
        height: 140%;
    }

    .nav_img > h1, p {
        padding-top: 5%;
    }
}

@media (max-width: 770px) {
    .reg{
        height: 145%;
        width: 100%;
        left: -13%;
    }
    .formular{
        top: 35%;
        height: 65%;
    }

    .nav_img{
        height: 35%;
        border-radius: unset;
    }

    .nav_img > h1, p {
        padding-top: 1%;
    }

    .formular > h1 {
        padding-bottom: 5px;
    }
}

/* Prepis Bootstrapu */
@media (min-width: 576px) {
    .container {
         max-width: 100%;
    }
}
